<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Tracker</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/PlayerTracker.png' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <!-- Logo -->
        {% comment %} <img src="{% static 'images/PlayerTracker.png' %}" alt="Player Tracker Logo"> {% endcomment %}
        <div class="logo">
            <span class="player">Player</span><span class="tracker">Tracker</span>
        </div>

        <!-- Navigation Links -->
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Apps</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">About</a></li>
        </ul>

        <!-- Login/Sign Up Links -->
        <div class="auth-links">
            <a href="#">Login</a>
            <a href="#">Sign Up</a>
        </div>
    </div>

    <!-- Landing Page Content -->
    <div class="container">
        <h1 class="all-games">All Games</h1>
    
        <div class="game-card">
            <img src="{% static 'images/Image Dota.jpg' %}" alt="Game 1" class="game-image">
            <h2 class="game-title">Dota 2</h2>
        </div>
        <div class="game-card">
            <img src="{% static 'images/Image Lol.jpg' %}" alt="Game 2" class="game-image">
            <h2 class="game-title">Leauge of Legends</h2>
        </div>
        <div class="game-card">
            <img src="{% static 'images/Image MLBB.jpg' %}" alt="Game 3" class="game-image">
            <h2 class="game-title">Mobile Legends: Bang Bang</h2>
        </div>
        <div class="game-card">
            <img src="{% static 'images/Image HoK.jpg' %}" alt="Game 4" class="game-image">
            <h2 class="game-title">Honor of Kings</h2>
        </div>
        <!-- Add more game cards as needed -->
    </div>
</body>
</html>
